<md-toolbar layout="row" class="md-primary">
    <div class="md-toolbar-tools">
        <span>Carrito de Ventas</span>
    </div>
</md-toolbar>

<md-list flex layout-align="space-around stretch">
    <md-subheader class="md-no-sticky">Productos para la Venta</md-subheader>

    <md-list-item class="md-2-line" ng-repeat="sellingItem in selling.items">
        <div class="md-list-item-text">
            <h3> {{ sellingItem.product.code }} ({{sellingItem.quantity}} Unit.) </h3>
            <p> {{ sellingItem.product.description }} </p>
            <p> Precio: {{ sellingItem.price }}  Total: {{ sellingItem.price *  sellingItem.quantity}}</p>

            <md-icon class="md-secondary" aria-label="deleteSelling" ng-click="removeSellingFromCart(sellingItem)">
                <ng-md-icon icon="close" size="25">
                </ng-md-icon>
            </md-icon>
            <md-divider></md-divider>
        </div>
    </md-list-item>

    <section layout-align="center start">
        <md-button class="md-raised md-accent" ng-click="removeAllSellingsFromCart()" ng-disabled="selling.items.length <= 0">Cancelar</md-button>
        <md-button class="md-raised md-accent" ng-click="finishSelling()" ng-disabled="selling.items.length <= 0">Realizar Venta</md-button>
    </section>
</md-list>