<md-toolbar class="md-table-toolbar md-primary" layout-align="center center">
    <div class="md-toolbar-tools">
        <md-truncate style="position: absolute; left: 60px; right: 170px; top: 20px; bottom: 13px;">
            Lista de Ventas
        </md-truncate>
        <span flex></span>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column><span>Fecha</span></th>
                <th md-column><span>Codigo</span></th>
                <th md-column><span>Producto</span></th>
                <th md-column><span>Unidades</span></th>
                <th md-column><span>Vendedor</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="sellingItem" md-select-id="id"
                 md-auto-select ng-repeat="sellingItem in sellingItems">
                
                <td md-cell>{{ sellingItem.createdAt }}</td>
                <td md-cell>{{ sellingItem.sellingCode }}</td>
                <td md-cell>{{ sellingItem.product }}</td>
                <td md-cell>{{ sellingItem.quantity }}</td>
                <td md-cell>{{ sellingItem.seller }}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>