<md-dialog aria-label="Edit Selling">

    <form name="editSelling" ng-submit="save()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Venta de Producto</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <p>{{sellingItem.product.code}}  - {{sellingItem.product.description}} ({{sellingItem.product.quantity}} Unit.)</p>
            <br/>
            <md-input-container class="md-block">
                <label>Cantidad</label>
                <input md-autofocus ng-model="sellingItem.quantity" type="number" aria-label="sellingQuantity" />
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions>
            <button class="md-primary md-button" type="button" ng-click="cancel()">Cancelar</button>
            <button class="md-primary md-button" type="submit">Agregar al Carrito</button>
        </md-dialog-actions>
    </form>
</md-dialog>