
<div ng-cloak layout="row">
    <div flex="40">
        <div layout="column">
            <product-search on-create-selling="createSelling" products="products"></product-search>

            <md-divider></md-divider>

        <div flex-gt-sm="100" flex>
            <md-content>
                <selling-items-cart on-create-selling-batch="createSellingBatch" on-remove-all-sellings-from-cart="removeAllSellingsFromCart" on-remove-selling-from-cart="removeSellingFromCart" items="sellingCartItems"></selling-items-cart>
            </md-content>
        </div>
    </div>
    </div>

  <md-divider></md-divider>
  
  <div flex-gt-sm="60" flex>
    <md-content>
        <sellings-list items="sellingBatch"></sellings-list>
    </md-content>
  </div>
</div>