
<div ng-cloak layout="row">
    <div flex="40">
        <div layout="column">
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Productos</span>
                </div>
            </md-toolbar>

            <product-search on-create-selling="createSelling" products="products"></product-search>

            <md-divider></md-divider>

        <div flex-gt-sm="100" flex>

            <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Carrito</span>
            </div>
            </md-toolbar>

            <md-content>
                <selling-items-cart items="sellingCartItems"></selling-items-cart>

            </md-content>
        </div>
    </div>
    </div>

  <md-divider></md-divider>
  
  <div flex-gt-sm="60" flex>

    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Venta</span>
      </div>
    </md-toolbar>

    <md-content>

      <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader>
       
        <md-divider ></md-divider>
        <md-subheader class="md-no-sticky">Classes</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="phone in phones">
          <md-icon md-svg-icon="{{phone.options.icon}}" ng-if="phone.options.icon" ng-class="{'md-avatar-icon': phone.options.avatarIcon}"></md-icon>
          <img ng-src="{{phone.options.face}}?25" class="md-avatar" alt="{{phone.options.face}}"
               ng-if="phone.options.face"/>
          <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
            <h3> {{ phone.number }} </h3>
            <p> {{ phone.type }} </p>
          </div>
          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
            <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

</div>


<!--
<div ng-controller="SellingsCtrl as ctrl" layout="column" ng-cloak>
  <md-content layout-padding layout="column">
    <form ng-submit="$event.preventDefault()">
      <p>Use <code>&lt;md-autocomplete&gt;</code> with custom templates to show styled autocomplete results.</p>
      <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Pick an Angular repository"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
            <span> {{item.name}} </span>
          </span>
          <span class="item-metadata">
            <span>
              <strong>{{item.watchers}}</strong> watchers
            </span>
            <span>
              <strong>{{item.forks}}</strong> forks
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>
</div>
-->